<template>
    <form @submit.prevent="submitData">
        <label>Name</label>
        <input type="text" v-model="enteredName">
        <button>Add Contact</button>
    </form>
</template>

<script>
export default {
    emits: ['add-contact'],
    data() {
        return {
            enteredName: ''
        };
    },
    methods: {
        submitData() {
            this.$emit('add-contact', this.enteredName)
        }
    }
}
</script>