<template>
  <base-container title="Vuex" v-if="isAuth">
    <h3>{{ $store.state.counter }}</h3>
    <button @click="addOne">Add 5</button>
    <button @click="increment">Add 1 - wait 2s</button>
  </base-container>
  <base-container title="Auth">
    <user-auth></user-auth>
  </base-container>
</template>

<script>
import BaseContainer from './components/BaseContainer.vue';
import UserAuth from './components/UserAuth.vue'
import { mapActions }  from 'vuex';

export default {
  components: {
    BaseContainer,
    UserAuth
  },
  computed: {
        isAuth() {
            return this.$store.getters.userIsAuthenticated;
        }
    },
  methods: {
    addOne() {
      this.$store.dispatch({
        type: 'increase',
        value: 5
      });
    },
    // addOne2() {
    //   this.$store.dispatch('increment');
    // }
    ...mapActions(['increment'])
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
</style>